BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120
AllowShortFunctionsOnASingleLine: Empty
PointerAlignment: Left
DerivePointerAlignment: false
SortIncludes: true
SpacesInAngles: false
SpaceAfterCStyleCast: true
BreakBeforeBraces: Allman

